<header id="home-section" class="mb-4">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block mt-5">
                    
                    <h1 class="display-4 text-light">
                        Hakka kirjutama oma <strong>esimest sissekannet</strong> and <strong> avalda see juba täna !</strong>
                    </h1>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Lihtne registreerimine, mis võtab ainult mõne hetke.
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div>
                        <div class="p-4 align-self-end text-light">
                            Suhtle teiste autoritega.
                        </div>
                    </div>

                    
                </div>

                <div class="col-lg-4 mt-5">
                    <div class="card bg-muted text-center card-form">
                        <div class="card-body">

                            <app-register></app-register>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<app-famous-blogs></app-famous-blogs>
